


body{
    background-color: #2c3e50;
}
header{
    font-family: Arial;
    font-size: 45px;
    color: #2ecc71;
    font-weight: 50;
}
footer{
    font-size: 16px;
    font-weight: 50;
    background-color: white;
    font-weight: 50;
    font-family: Courier New;
    color: #1abc9c;
}
i{
    font-family: Courier New;
    color:#2ecc71;
}
b{
    color:#c0392b;
}

p{
    font-family: Airal;
    font-size:20px;
    
}
h2{
    font-family: Georgia;
    font-size: 25px;
    color:#e67e22;
    font-weight: 50;
    font-style: italic;
}